name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-and-upload:
    name: Build and Upload
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            base_name: gitmelt-linux
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            base_name: gitmelt-windows
            extension: .exe
          - os: macos-latest
            target: x86_64-apple-darwin
            base_name: gitmelt-macos-x86_64
          - os: macos-14
            target: aarch64-apple-darwin
            base_name: gitmelt-macos-aarch64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Rust Cache
        uses: swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Build release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Prepare binary with Version Name
        shell: bash
        run: |
          TAG=${{ github.event.release.tag_name }}
          NEW_NAME="${{ matrix.base_name }}-$TAG${{ matrix.extension }}"

          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            BINARY_PATH="target/${{ matrix.target }}/release/gitmelt.exe"
          else
            BINARY_PATH="target/${{ matrix.target }}/release/gitmelt"
          fi

          mv "$BINARY_PATH" "$NEW_NAME"
          echo "FINAL_BINARY_NAME=$NEW_NAME" >> $GITHUB_ENV

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.FINAL_BINARY_NAME }}
